<div class="content_box"> <!-- additional class names added via sitecore -->
	<!-- This should be able to accommodate any text / HTML as well as small scripts such as social media share icons or inline styles -->
    <p>Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables, iframes ect. Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables, iframes ect. Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables, iframes ect.</p>
</div>