<div class="cookie-bar">
	<div class="cookie-inner">
		<div class="col-a">
			<strong>This site uses cookies</strong>. In order to continually improve this site, we remember and store information about how you use it. 
			<a href="http://www.studygroup.com/info/cookie-statement" target="_blank" class="cookie">Find out more.</a>
		</div>
		<div class="col-b">
			<a href="#" class="cookie-btn "><span>Accept and close</span></a>
		</div>
	</div>
</div>