<!-- FOOTER LINKS COMPONENT START -->
<ul class="footer_links">
	<li><a href="#">Terms &amp; Conditions</a></li> <!-- These should work with or without url's added so they can also be used for copyright notices as well as text links -->
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Other footer link</a></li>
</ul>
<!-- FOOTER LINKS COMPONENT END -->