<!-- GALLERY COMPONENT START -->
<div class="gallery">
    <h3>Gallery</h3> <!-- Option for content editors to choose heading tag -->
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a data-slide-to="0" href="#imageGallery"><img data-target="#galleryModal" data-toggle="modal" src="http://placehold.it/370x260"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a data-slide-to="1" href="#imageGallery"><img data-target="#galleryModal" data-toggle="modal" src="http://placehold.it/370x260"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a data-slide-to="2" href="#imageGallery"><img data-target="#galleryModal" data-toggle="modal" src="http://placehold.it/370x260"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a data-slide-to="3" href="#imageGallery"><img data-target="#galleryModal" data-toggle="modal" src="http://placehold.it/370x260"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a data-slide-to="4" href="#imageGallery"><img data-target="#galleryModal" data-toggle="modal" src="http://placehold.it/370x260"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a data-slide-to="5" href="#imageGallery"><img data-target="#galleryModal" data-toggle="modal" src="http://placehold.it/370x260"></a>
        </div>
    </div>
	<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="galleryModal" role="dialog" tabindex="-1">
	    <div class="modal-dialog">
	        <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
	            <div class="modal-body">
	                <div class="carousel slide" data-interval="false" id="imageGallery">
	                    <div class="carousel-inner">
	                        <div class="item active">
	                            <img alt="item1" src="http://placehold.it/700x500">
	                            <div class="carousel-caption"><!-- Richtext field copy -->
	                                <h3>Heading 1</h3>
	                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <img alt="item2" src="http://placehold.it/700x500">
	                            <div class="carousel-caption"><!-- Richtext field copy -->
	                                <h3>Heading 2</h3>
	                                <p>Slide 1 description.</p>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <img alt="item3" src="http://placehold.it/700x500">
	                            <div class="carousel-caption"><!-- Richtext field copy -->
	                                <h3>Heading 3</h3>
	                                <p>Mauris iaculis odio erat, ac sagittis orci pellentesque a. </p>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <img alt="item4" src="http://placehold.it/700x500">
	                            <div class="carousel-caption"><!-- Richtext field copy -->
	                                <h3>Heading 4</h3>
	                                <p>Phasellus pretium libero vulputate quam tincidunt, eget feugiat felis gravida. </p>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <img alt="item5" src="http://placehold.it/700x500">
	                            <div class="carousel-caption"><!-- Richtext field copy -->
	                                <h3>Heading 5</h3>
	                                <p>Phasellus at ornare leo, vel eleifend sapien. </p>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <img alt="item6" src="http://placehold.it/700x500">
	                            <div class="carousel-caption"><!-- Richtext field copy -->
	                                <h3>Heading 6</h3>
	                                <p>Proin et luctus massa. Morbi pulvinar quam mi, bibendum sodales magna vehicula id. </p>
	                            </div>
	                        </div>
	                    </div> 
	                   <div class="controls">
	                         <a class="left carousel-control" data-slide="prev" href="#imageGallery" role="button"><i class="fa fa-angle-left" aria-hidden="true"></i></a> 
	                         <a class="right carousel-control" data-slide="next" href="#imageGallery" role="button"><i class="fa fa-angle-right" aria-hidden="true"></i></a> 
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<!-- GALLERY COMPONENT END -->

