<div aria-hidden="false" class="form-popup modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal" type="button">×</button>
                {% include "components/enquiry_form" %}
            </div>
        </div>
    </div>
</div>