<!-- SG LOGO COMPONENT START -->
<div class="sg_logo">
	<p>
		Maintained by<!-- Richtext field copy --> 
		<a href="http://www.studygroup.com" target="_blank">
			<img src="img/sg_logo_white.svg">
		</a>
	</p>
</div>
<!-- SG LOGO COMPONENT END -->