<!-- SOCIAL MEDIA COMPONENT START -->
<div class="social_media_wrapper">
	<h3>Connect with us</h3> <!-- Option for content editors to choose heading tag -->
	<ul class="social_media">
		<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
	</ul>
</div>
<!-- SOCIAL MEDIA COMPONENT END -->