<!-- TABS COMPONENT START -->
<div class="tab_wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <h4> <!-- Option for content editors to choose heading tag -->
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tab 1</a>
            </h4>
        </li>
        <li role="presentation">
            <h4> <!-- Option for content editors to choose heading tag -->
                <a href="#1" aria-controls="1" role="tab" data-toggle="tab">Tab 2</a>
            </h4>
        </li>
        <li role="presentation">
            <h4> <!-- Option for content editors to choose heading tag -->
                <a href="#2" aria-controls="2" role="tab" data-toggle="tab">Tab 3</a>
            </h4>
        </li>
        <li role="presentation">
            <h4> <!-- Option for content editors to choose heading tag -->
                <a href="#3" aria-controls="3" role="tab" data-toggle="tab">Tab 4</a>
            </h4>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <p>Tab 1 content</p> <!-- Richtext field copy -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="1">
            <p>Tab 2 content</p> <!-- Richtext field copy -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="2">
            <p>Tab 3 content</p> <!-- Richtext field copy -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="3">
            <p>Tab 4 content</p> <!-- Richtext field copy -->
        </div>
    </div>
</div>
<!-- TABS COMPONENT END -->