<!-- TESTIMONIAL COMPONENT START -->
<div class="testimonial">
    <h3>Testimonial</h3> <!-- Option for content editors to choose heading tag -->
    <img src="http://placehold.it/720x400">
    <div class="testimonial_content">
        <p>
            "The style of the education is completely different. For example, during the class, the tutors are more focused on what you think and what your opinion is. There is a lot of opportunity for you to express yourself."
        </p>
    </div>
    <div class="testimonial_info">
        <p>
            <em>Xyuing (Shelly)</em>
            from China studied business
        </p>
        <a href="#">More student stories</a>
    </div>
</div>
<!-- TESTIMONIAL COMPONENT END -->