<!-- FOOTER COMPONENT START -->
<footer>
	<div class="container">
	    <div class="row">
	        <div class="col-md-8">
	            {% include "components/footer_links" %}
	            {% include "components/social_media" %}
	        </div>
	        <div class="col-md-4">
	            {% include "components/sg_logo" %}
	        </div>
	    </div>    
	</div>
</footer>
<!-- FOOTER COMPONENT END -->