{% include "components/coo kie_bar" %}
<!-- HEADER COMPONENT START -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include "components/logo" %}
            </div>
            <div class="col-md-6">
                {% include "components/language_select_v2" %}
                
                <!--
                <div class="content_box">
                    <div class="button">
                        <a href="#form">Jump link</a>
                    </div>
                </div>
                -->

                <div class="content_box">
                    <div class="button">
                        <a href="#" data-toggle="modal" data-target=".form-popup">
                            Popup link
                        </a>
                    </div>
                </div>

            </div>
    	</div>
    </div>
</header>
<!-- HEADER COMPONENT END -->