            <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
            <script src="https://rawgit.com/gbunce-studygroup/glp_global/master/html/js/glp_global.js"></script>
            <script src="js/glp_brand.js"></script>
        </div> <!-- #pageBody close -->
    </body>
</html>