{% include "layout/head" %}
{% comment %} // DO NOT ADD CODE ABOVE THIS LINE // {% endcomment %}

{% include "header" %}

{% include "components/hero" %}

<div class="section one">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="content_box">
                    <h1>Test test test test</h1>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    <h2>Test test test test</h2>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    <h3>Test test test test</h3>
                    <ul>
                        <li>enim eiusmod high life accusamus terry richardson ad squid.</li>
                        <li>enim eiusmod high life accusamus terry richardson ad squid enim eiusmod high life accusamus terry richardson ad squid.</li>
                    </ul>
                    <ol>
                        <li>enim eiusmod high life accusamus terry richardson ad squid.</li>
                        <li>enim eiusmod high life accusamus terry richardson ad squid enim eiusmod high life accusamus terry richardson ad squid.</li>
                    </ol>
                </div>
            </div>
        </div>
       
    </div> <!-- /container -->
</div> <!-- /section_one -->


<div class="section two">
    <div class="container">

    </div> <!-- /container -->
</div> <!-- /section_two close -->


<div class="section three">
    <div class="container">

    </div> <!-- /container -->
</div> <!-- /section_three close -->


{% include "footer" %}


{% comment %} // DO NOT ADD CODE BELOW THIS LINE // {% endcomment %}
{% include "layout/foot" %}