/* LANGUAGE LINKS COMPONENT */
.language_links_v2{ //ul
	margin-bottom: (nth($header_padding, 1));
	li{ //.dropdown
		a{
			color: $language_select_text_colour;
			&:hover, &:active, &:focus{
				color: $language_select_text_colour;
			}
		}
		ul{
			li{
				a{
					font-size: $language_select_font_size;
				}
				a, a:hover{
					color: $main_colour;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}